.market-ticker-item {
    display: flex;
    flex-direction: column;
    font-family: 'Crete Round';
    font-size: 14px;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
    width: 100px;
    height: 100%;
    border-radius: 20px;
}