$primary-color: #fce48e;
$secondary-color: #eaeaea;
$shadow-color:#f7f7f7;
$border-color-primary: #80808017;

.header-section {
    overflow: scroll;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    height: 100vh;
    border-right: 2px outset rgba(219, 219, 219, 0.164);

    a {
        color: black;
        text-decoration: none;
    }

    .header-logo-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-sub-text {
            font-style: italic;
            font-size: 15px;
        }
    }

    .header-brand {
        font-family: 'Crete Round';
        font-size: 2.4rem;
        margin: 5px 5px;
    }

    .header-logo {
        width: 75px;
        margin: 0px 10px 15px;
        transition: all .28s ease-in-out;

        &:hover {
            transform: rotate(40deg);
        }
    }

    .header-item {
        border: 1px solid $border-color-primary;
        margin: 8px auto;
        padding: 8px;
        word-wrap: break-word;
        white-space: normal;
        border-radius: 100px;
        box-shadow: 1px 1px 1px 1px $shadow-color;
        transition: all 0.2s ease-out;
        font-family: 'Crete Round';
        font-weight: 100;

        &:first-child {
            margin-top: 20px;
        }

        &:hover, &:focus, &:active {
            transform: scale(1.06);
            box-shadow: 2px 2px 2px 1px $shadow-color;
            background:$primary-color;
            outline: none;
        }

        &:active {
            transform: scale(1.10);
            transition: 2s ease-in-out smooth;
            transform: scale(1);
        }

        .header-sub-items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transition: 2s ease-in-out;
        }

        .header-img {
            margin: 10px 0;
            transition: all 0.3s ease-in-out;
        }

        .header-title {
            font-size: 16px;
        }
    }

    .header-bottom-section {
        align-items: flex-end;
        margin-bottom: 30px;

        .header-footer {
            padding: 5px;
            display: flex;
            justify-content: center;

            &:hover {
                background: $secondary-color;
            }
        }
    }

    .header-top-section {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 800px) {
    .main-header-container {
        height: 120px;

        .header-title, 
        .header-sub-text,
        .header-bottom-section {
            display: none;
        }

            
    }
    .header-section {
        border-right: none;
        border-top: 2px solid rgba(219, 219, 219, 0.377);
        display: flex;
        flex-direction: inline-flex;
        padding: 8px;

        .header-top-section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-items: center;

            .header-item {
                border: none;
                box-shadow: none;
                padding: 16px;
                margin: 0 8px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .header-logo-section {
        
            .header-logo {
                width: 35px;
                margin: 0 auto;
            }
            .header-brand {
                font-size: 20px;
            }
        }

    }
}
@media only screen and (max-width: 500px) {
    .header-logo,
    .header-brand {
        display: none;
    }
}



